body {
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    color: #0047AB;
}

strong {
    color: #D21034;
}

ul {
    list-style-type: square;
}